@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --default-font:'Poppins', sans-serif;

}
*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    font-family: var(--default-font);
}


.head-cont-I h1{
    /* font-size: 15px; */
}
.sub-I h2, .period h3{
    font-size: 15px;
    font-weight: 200;
}
.head-sub{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.sub-II{
    width: 100%;
    background:#5b9bd5;
    padding: 2rem;
    border-radius: 6px;
}
.period{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.period input {
    width: 100%;
    
}
.head-cont-II .sub-I{
    display: flex;
    justify-content: space-between;
}
.head-cont-II .sub-I{
    margin-bottom: .8rem;
}
.banner{
    background-color: black;
    color: tomato;
}
.b-ksa{
    background-color: limegreen;
    color: white;
}

/* main */
.sec-I{
    margin-bottom: 2rem;
}
.title-cont{
    display: flex;
    align-items: center;
}
.group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.form-que{
    margin-top: 1rem;
}
.form-que h3 , .cuz-group h3{
    font-size: 20px ;
    font-weight: 300;
}
.form-I{
    display: flex;
}
.inner-cont{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}
.inner-cont span{
    border: 1px solid;
    padding: 0.6rem 1rem;
    color: black;
    font-weight: 800;
    display: flex;
    background: #fcf106;
    align-items: center;
    justify-content: center;
}
.cuz-group{
    display: flex;
    flex-direction: column;
}
.form-II{
    display: flex;
    flex-direction: column;
}
.cuz-logo img{
    width: 100%;
}

.toggle-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    bottom: 19px;
    right: 19px;
    gap: 1rem;
 
    flex-direction: column;
   
}
.cuz-btn{
    padding: 6px 6px;
    border-radius: 10px;
    text-align: center;
    color: grey;
}
.cuz-btn:hover{
    background-color: transparent!important;
   border-color: #1a1e21 !important;
   border: 1px solid #1a1e21;
}
.cuz-btn a{
    color: white;
    text-decoration: none;
}
.cuz-btn:hover> a{
    color: #1a1e21;
}
/* ksa custome */
.cuz-jf-g{
    justify-content: flex-start;
    /* gap: 2.5rem; */
}
.cuz-jf-g input{
    width: auto;
}
/* ends */


/* helper class */
.cuz-mr{
    margin-right:.9rem;
}
.cuz-js{
    justify-content: flex-start;
}
.cuz-select-w{
    width: 100%;
}
.cuz-mb{
    margin-bottom: 1rem;
}
input{
    width: 100%;
}
.cuz-w{
    width: 29%;
}
.cuz-js-end{
    display: flex;
    justify-content: flex-end;
}
/* .mx-w{
    max-width: 1000px!important;
} */

.cuz-headers{
    background: #c4df9a;
    padding: 1rem;
    font-weight: 700;
    border: 3px solid black;
}
.skin{
    background-color: #fec689;
}
.yell{
    background-color: #fff79a;
}
.ksa-I{
    background: #006666;
}
.ksa-II{
    background: #c55a11;
}
.cuz-sub-btn{
    padding: 0.5rem 3rem;
    background: green;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
.cuz-sub-btn:hover{
    background-color: transparent;
    border-color: green;
    color: green;
    transition: all 0.2s ease-in;

}
.cuz-err{
    border-color: tomato;
}

/* ends */